{% load static %}
<html>
    <head>
  <title>Users List</title>
<link 
href="{% static 'images\CDGI Logo (1).png' %}"
 rel="icon">
 <link href="{% static 'css\style1.css' %}"
  rel="stylesheet">
    </head>
    <body>
        <div id="maindiv">
<div id="header">
<div id="head1">
<marquee direction="right">
    Css Template
</marquee>    
</div>

  <img src="{% static 'images\CDGI Logo (1).png' %}"
   id="logo1">
   <img src="{% static 'images\CDGI Logo (1).png' %}"
   id="logo2">
</div>
{% include 'menu.html' %}
<div id="content">
    <table border="1" align="center">
        <tr>
          <th>course id.</th>
          <th>course name</th>
          <th>duration</th>
          <th>fees</th>
          <th>image</th>
        </tr>
        {% for x in res %}
        <tr>
          <td>{{ x.batchid }}</td>
          <td>{{ x.nm }}</td>
          <td>{{ x.startdate }}</td>
          <td>{{ x.batchtime }}</td>
          <td>{{ x.facultyname }}</td>
           
          
        </tr>
        {% endfor %}
        
        </table>

</div>
<div id="footer">
<div align="center" 
style="color:white">
 &copy;css template-2023
</div>
</div>
        </div>
    </body>
</html>